$midnight-green: #014E56;
$coral: #F67E7E;
$white: #FFF;
$rapture-blue: #79C8C7;
$police-blue: #2C6269;
$deep-jungle-green: #004047;
$sacramento-green: #012F34;
$dark-green: #002529;

$default-font: "Livvic", sans-serif;